## **Introduction to Data Science - Nhập môn khoa học dữ liệu - CSC14119**
### **HCMUS - Trường Đại học khoa học tự nhiên - Nov 2024.**
### **Đồ án thực hành cuối kì - Handling Real-World Problem.**
#### **Due:** 24/12/2024.
#### **Lớp:** 22_21.
#### **Giảng viên hướng dẫn:** Thầy Lê Ngọc Thành - Thầy Lê Nhựt Nam.
#### **STT nhóm:** 9.
---
### **Data Modeling - 01**
**Problem**: Mô hình gợi ý gia vị thay thế, nguyên liệu.\
**Description**: Phát triển mô hình gợi ý gia vị, nguyên liệu thay thế dựa trên các món ăn tương tự hoặc các món sử dụng các gia vị, nguyên liệu gần giống nhau.\
**Solution**: Sử dụng kỹ thuật Collaborative Filtering.

**1. Import Libraries:**

In [1]:
from Libraries_Used import *
from Shared_Functions import *

**2. Get the dataset:**

In [2]:
path = os.path.join('..', 'Assert', 'ingredients.csv')
data = pd.read_csv(path)
init_df = deepcopy(data)
data.head(2)

,Name of dish,active yeast,agave nectar,all-purpose flour,almond,almond extract,almond flour,almond milk,aloe vera,amaretto,...,yellow bell peppers,yellow lemon peel,yellow mustard,yellow pepper,yellow sweet potatoes,yogurt,yogurt drink,yuzu juice,yuzu sauce,zucchini
0,Change the taste with strange and delicious mi...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,"Spaghetti with Meatballs in Tomato Sauce, Quee...",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

**3. Drop the "Name of dish" column:**

In [3]:
data.drop(columns=['Name of dish'], inplace=True)
data.head(2)

,active yeast,agave nectar,all-purpose flour,almond,almond extract,almond flour,almond milk,aloe vera,amaretto,american beef belly,...,yellow bell peppers,yellow lemon peel,yellow mustard,yellow pepper,yellow sweet potatoes,yogurt,yogurt drink,yuzu juice,yuzu sauce,zucchini
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

**4. Check the shape of dataframe:**

In [4]:
data.shape

(682, 802)

**5. Check the datatypes:**

In [5]:
data.dtypes

active yeast         int64
agave nectar         int64
all-purpose flour    int64
almond               int64
almond extract       int64
                     ...
yogurt               int64
yogurt drink         int64
yuzu juice           int64
yuzu sauce           int64
zucchini             int64
Length: 802, dtype: object

---

### **Model Building**

In [6]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.model_selection import train_test_split
from sklearn.neighbors import NearestNeighbors

In [7]:
train_data, test_data = train_test_split(data, test_size=0.2, random_state=42)